/*
#container>ul{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start ;
	align-items: flex-start;
	flex-wrap:wrap;
}
#container>ul>a{
	display: flex;
	justify-content: center;
	width: 20%;
	height: 20%;

}
.item{
	width: 95%;
	height: 100%;
	background-size: cover;
	background: url(../resources/catergories/huiminzhengce/item_bg.png);
	display: flex;
	flex-direction: row;
	align-items: center;
	border: 5px solid transparent;
	border-radius: 10px;
}

.item:hover{
	border-color: white;
}
.item_name{
	flex-grow:1;
	text-align: center;
	font-size: 2rem;
	color: white;
}
*/
a{
	color: white;
}
#items_container,#items{
	width: 100%;
	height: 100%;
}
.item_wrapper{
	height: 25%;
	width: 20%;
	float: left;
	/*position: relative;*/
	/*display: table;*/
}
.item{
	width: 90%;
	height: 90%;
	margin: 0 auto;
	border: 5px solid rgb(4, 12, 62);
	border-radius: 10px;
	background: url(../resources/catergories/huiminzhengce/item_bg.png);
	/*display: table;*/
}
.item:hover{
	border-radius: 10px;
	border: 5px solid white;
}
.item_img{
	width: 40%;
	height: 100%;
	/*width: auto;*/
	float: left;
	/*display: table-cell;*/
}
.item_name{
	width: 60%;
	height: 100%;
	font-size: 2rem;
	/*line-height: 2rem;*/
	text-align: center;
	float: right;
	display: table;
}
.item_name>p{
	display: table-cell;
    vertical-align: middle;
}
