#container{
	display: flex;
	flex-direction: column;
	justify-content: space-around ;
	align-items: center;
}
#top_row{
	width: 90%;
	height: 10%;
	background-image:-webkit-linear-gradient(left, rgb(13,26,255), rgb(1,31,63));
	background-image:-moz-linear-gradient(left, rgb(13,26,255), rgb(1,31,63));
	background-image:-ms-linear-gradient(left, rgb(13,26,255), rgb(1,31,63));
	background-image:-o-linear-gradient(left, rgb(13,26,255), rgb(1,31,63));
	color: rgba(255, 171, 84, 0.8);
}
h3{
	/*	width: 90%;*/
	/*margin: 0 auto;*/
	display: flex;
	align-items: center;
	height: 100%;
	font-size: 2rem;
}
article{
	width: 90%;
	height: 80%;
	font-size: 2rem;
	overflow: hidden;
	/*width: 90%;*/
	/*column-width: 1360px;*/
	/*-webkit-columns:100px 3;*/
}
#bottom_row{
	height: 5%;
	font-size: 1rem;
	text-align: center;
}