ul{
	font-size: 0;
	height: 80%;
	white-space: nowrap;
	/*overflow-x: hidden;*/
	position: relative;
}
.img_item{
	display: inline-block;
	width: 50%;
	height: 100%;
	position: relative;
}

.img_item>img{
	display: block;
	margin:0 auto;
	max-width: 100%;
	max-height: 100%;
	/*vertical-align: center;*/
	bottom: 0;
}
#bottom_row{
	height: 5%;
	text-align: center;
}