	
article{
	width: 100%;
	height: 80%;
	font-size: 2rem;
	overflow: hidden;
	/*width: 90%;*/
	/*column-width: 1360px;*/
	/*-webkit-columns:100px 3;*/
}

article img{
	max-width: 90%;
	max-height: 90%;
}
#bottom_row{
	height: 5%;
	font-size: 1rem;
	text-align: center;
}